<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <connectionStrings>
    <add name="HRMSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALMAGHANDY-PC;initial catalog=HRMS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EPMS.My.MySettings.SUMBULLAHConnectionString" connectionString="Data Source=ALMAGHANDY-PC;Initial Catalog=SUMBULLAH;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>